.venv/
data-unversioned/cache/part2ch11_raw/000/cache.db
data-unversioned/cache/part2ch11_raw/001/cache.db
data-unversioned/cache/part2ch11_raw/002/cache.db
data-unversioned/cache/part2ch11_raw/003/cache.db
data-unversioned/cache/part2ch11_raw/004/cache.db
data-unversioned/cache/part2ch11_raw/005/cache.db
data-unversioned/cache/part2ch11_raw/006/cache.db
data-unversioned/cache/part2ch11_raw/007/cache.db
data-unversioned/cache/part2ch11_raw/008/cache.db
data-unversioned/cache/part2ch11_raw/009/cache.db
data-unversioned/cache/part2ch11_raw/010/cache.db
data-unversioned/cache/part2ch11_raw/011/cache.db
data-unversioned/cache/part2ch11_raw/012/cache.db
data-unversioned/cache/part2ch11_raw/013/cache.db
data-unversioned/cache/part2ch11_raw/014/cache.db
data-unversioned/cache/part2ch11_raw/015/cache.db
data-unversioned/cache/part2ch11_raw/016/cache.db
data-unversioned/cache/part2ch11_raw/017/cache.db
data-unversioned/cache/part2ch11_raw/018/cache.db
data-unversioned/cache/part2ch11_raw/019/cache.db
data-unversioned/cache/part2ch11_raw/020/cache.db
data-unversioned/cache/part2ch11_raw/021/cache.db
data-unversioned/cache/part2ch11_raw/022/cache.db
data-unversioned/cache/part2ch11_raw/023/cache.db
data-unversioned/cache/part2ch11_raw/024/cache.db
data-unversioned/cache/part2ch11_raw/025/cache.db
data-unversioned/cache/part2ch11_raw/026/cache.db
data-unversioned/cache/part2ch11_raw/027/cache.db
data-unversioned/cache/part2ch11_raw/028/cache.db
data-unversioned/cache/part2ch11_raw/029/cache.db
data-unversioned/cache/part2ch11_raw/030/cache.db
data-unversioned/cache/part2ch11_raw/031/cache.db
data-unversioned/cache/part2ch11_raw/032/cache.db
data-unversioned/cache/part2ch11_raw/033/cache.db
data-unversioned/cache/part2ch11_raw/034/cache.db
data-unversioned/cache/part2ch11_raw/035/cache.db
data-unversioned/cache/part2ch11_raw/036/cache.db
data-unversioned/cache/part2ch11_raw/037/cache.db
data-unversioned/cache/part2ch11_raw/038/cache.db
data-unversioned/cache/part2ch11_raw/039/cache.db
data-unversioned/cache/part2ch11_raw/040/cache.db
data-unversioned/cache/part2ch11_raw/041/cache.db
data-unversioned/cache/part2ch11_raw/042/cache.db
data-unversioned/cache/part2ch11_raw/043/cache.db
data-unversioned/cache/part2ch11_raw/044/cache.db
data-unversioned/cache/part2ch11_raw/045/cache.db
data-unversioned/cache/part2ch11_raw/046/cache.db
data-unversioned/cache/part2ch11_raw/047/cache.db
data-unversioned/cache/part2ch11_raw/048/cache.db
data-unversioned/cache/part2ch11_raw/049/cache.db
data-unversioned/cache/part2ch11_raw/050/cache.db
data-unversioned/cache/part2ch11_raw/051/cache.db
data-unversioned/cache/part2ch11_raw/052/cache.db
data-unversioned/cache/part2ch11_raw/053/cache.db
data-unversioned/cache/part2ch11_raw/054/cache.db
data-unversioned/cache/part2ch11_raw/055/cache.db
data-unversioned/cache/part2ch11_raw/056/cache.db
data-unversioned/cache/part2ch11_raw/057/cache.db
data-unversioned/cache/part2ch11_raw/058/cache.db
data-unversioned/cache/part2ch11_raw/059/cache.db
data-unversioned/cache/part2ch11_raw/060/cache.db
data-unversioned/cache/part2ch11_raw/061/cache.db
data-unversioned/cache/part2ch11_raw/062/cache.db
data-unversioned/cache/part2ch11_raw/063/cache.db
data-unversioned/cache/part2ch13_raw/000/cache.db
data-unversioned/cache/part2ch13_raw/001/cache.db
data-unversioned/cache/part2ch13_raw/002/cache.db
data-unversioned/cache/part2ch13_raw/003/cache.db
data-unversioned/cache/part2ch13_raw/004/cache.db
data-unversioned/cache/part2ch13_raw/005/cache.db
data-unversioned/cache/part2ch13_raw/006/cache.db
data-unversioned/cache/part2ch13_raw/007/cache.db
data-unversioned/cache/part2ch13_raw/008/cache.db
data-unversioned/cache/part2ch13_raw/009/cache.db
data-unversioned/cache/part2ch13_raw/010/cache.db
data-unversioned/cache/part2ch13_raw/011/cache.db
data-unversioned/cache/part2ch13_raw/012/cache.db
data-unversioned/cache/part2ch13_raw/013/cache.db
data-unversioned/cache/part2ch13_raw/014/cache.db
data-unversioned/cache/part2ch13_raw/015/cache.db
data-unversioned/cache/part2ch13_raw/016/cache.db
data-unversioned/cache/part2ch13_raw/017/cache.db
data-unversioned/cache/part2ch13_raw/018/cache.db
data-unversioned/cache/part2ch13_raw/019/cache.db
data-unversioned/cache/part2ch13_raw/020/cache.db
data-unversioned/cache/part2ch13_raw/021/cache.db
data-unversioned/cache/part2ch13_raw/022/cache.db
data-unversioned/cache/part2ch13_raw/023/cache.db
data-unversioned/cache/part2ch13_raw/024/cache.db
data-unversioned/cache/part2ch13_raw/025/cache.db
data-unversioned/cache/part2ch13_raw/026/cache.db
data-unversioned/cache/part2ch13_raw/027/cache.db
data-unversioned/cache/part2ch13_raw/028/cache.db
data-unversioned/cache/part2ch13_raw/029/cache.db
data-unversioned/cache/part2ch13_raw/030/cache.db
data-unversioned/cache/part2ch13_raw/031/cache.db
data-unversioned/cache/part2ch13_raw/032/cache.db
data-unversioned/cache/part2ch13_raw/033/cache.db
data-unversioned/cache/part2ch13_raw/034/cache.db
data-unversioned/cache/part2ch13_raw/035/cache.db
data-unversioned/cache/part2ch13_raw/036/cache.db
data-unversioned/cache/part2ch13_raw/037/cache.db
data-unversioned/cache/part2ch13_raw/038/cache.db
data-unversioned/cache/part2ch13_raw/039/cache.db
data-unversioned/cache/part2ch13_raw/040/cache.db
data-unversioned/cache/part2ch13_raw/041/cache.db
data-unversioned/cache/part2ch13_raw/042/cache.db
data-unversioned/cache/part2ch13_raw/043/cache.db
data-unversioned/cache/part2ch13_raw/044/cache.db
data-unversioned/cache/part2ch13_raw/045/cache.db
data-unversioned/cache/part2ch13_raw/046/cache.db
data-unversioned/cache/part2ch13_raw/047/cache.db
data-unversioned/cache/part2ch13_raw/048/cache.db
data-unversioned/cache/part2ch13_raw/049/cache.db
data-unversioned/cache/part2ch13_raw/050/cache.db
data-unversioned/cache/part2ch13_raw/051/cache.db
data-unversioned/cache/part2ch13_raw/052/cache.db
data-unversioned/cache/part2ch13_raw/053/cache.db
data-unversioned/cache/part2ch13_raw/054/cache.db
data-unversioned/cache/part2ch13_raw/055/cache.db
data-unversioned/cache/part2ch13_raw/056/cache.db
data-unversioned/cache/part2ch13_raw/057/cache.db
data-unversioned/cache/part2ch13_raw/058/cache.db
data-unversioned/cache/part2ch13_raw/059/cache.db
data-unversioned/cache/part2ch13_raw/060/cache.db
data-unversioned/cache/part2ch13_raw/061/cache.db
data-unversioned/cache/part2ch13_raw/062/cache.db
data-unversioned/cache/part2ch13_raw/063/cache.db
runs/p2ch11/2023-03-25_22.56.50-trn_cls-dwlpt/events.out.tfevents.1679799043.MacBook-Pro.13398.0
runs/p2ch11/2023-03-25_22.56.50-val_cls-dwlpt/events.out.tfevents.1679799043.MacBook-Pro.13398.1
runs/p2ch11/2023-03-26_01.56.18-trn_cls-dwlpt/events.out.tfevents.1679809884.MacBook-Pro.14262.0
runs/p2ch11/2023-03-26_01.56.18-val_cls-dwlpt/events.out.tfevents.1679809884.MacBook-Pro.14262.1
runs/p2ch11/2023-03-27_03.44.55-trn_cls-dwlpt/events.out.tfevents.1679912219.MacBook-Pro.3858.0
runs/p2ch11/2023-03-27_03.44.55-val_cls-dwlpt/events.out.tfevents.1679912219.MacBook-Pro.3858.1
runs/p2ch11/2023-03-30_13.46.09-trn_cls-dwlpt/events.out.tfevents.1680194988.MacBook-Pro.65062.0
runs/p2ch11/2023-03-30_13.46.09-val_cls-dwlpt/events.out.tfevents.1680194988.MacBook-Pro.65062.1
runs/p2ch11/2023-03-30_14.32.07-trn_cls-dwlpt/events.out.tfevents.1680197747.MacBook-Pro.66160.0
runs/p2ch11/2023-03-30_14.32.07-val_cls-dwlpt/events.out.tfevents.1680197747.MacBook-Pro.66160.1
runs/p2ch11/2023-03-30_14.54.59-trn_cls-dwlpt/events.out.tfevents.1680199122.MacBook-Pro.66160.2
runs/p2ch11/2023-03-30_14.54.59-val_cls-dwlpt/events.out.tfevents.1680199122.MacBook-Pro.66160.3
